* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Vazirmatn', sans-serif;
    user-select: none;
}
:root {
    --main-transition: all 500ms ease;
}
body {
    position: relative;
}
p {
    margin: 0;
}
ul {
    list-style: none;
}
/* Start Sidebar */
aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100vh;
    z-index: 1000;
    transition: var(--main-transition);
}
aside.close {
    width: 0;
    padding: 0 !important;
}
aside .top .menuIcon {
    font-size: 28px;
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: var(--main-transition);
}
aside .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
aside .top .logo i {
    font-size: 22px;
    margin-top: 10px;
}
aside ul li {
    cursor: pointer;
    transition: var(--main-transition);
}
aside ul li span:first-child {
    margin-left: 10px;
}
aside ul li:hover {
    padding-right: 10px;
    background-color: #0d6efd;
}
aside.close .logo i,
aside.close .logo,
aside.close ul {
    display: none;
}
/* End Sidebar */
/* Start Header */
.header {
    margin-right: 270px;
    min-height: 65px;
    z-index: 100;
    transition: var(--main-transition);
}
.header .first {
    transition: var(--main-transition);
}
.header .first .menuIcon-haed {
    font-size: 25px;
    margin-left: 10px;
    display: none;
}
.header.close {
    margin-right: 0;
}
.header.close .menuIcon-haed {
    display: block;
}
.header ul li {
    cursor: pointer;
}
.header ul li i {
    font-size: 22px;
}
.logo-compny {
    font-weight: bold;
    font-size: 22px;
}
.logo-compny span {
    text-decoration: underline;
}
/* End Header */
/* Start User Info */
.content-of-page {
    margin-right: 270px;
    margin-top: 80px;
    transition: var(--main-transition);
} 
.content-of-page.close {
    margin-right: 0;
}
.user-info {
    width: 100%;
    position: relative;
}
.user-info.open {
    margin-right: 0;
}
.user-info img {
    width: 100px;
    margin-left: 20px;
}
.user-info .name {
    font-size: 18px;
    font-weight: bold;
}
.user-info .text,
.user-info .text .row {
    width: 100%;
}
.user-info .text .col .row .col:last-child {
    font-weight: bold;
    padding: 0 !important;
}
.user-info .btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 10px;
}
/* End User Info */
/* Start Links */
.links ul li {
    cursor: pointer;
    position: relative;
    transition: var(--main-transition);
}
.links ul li::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #0d6efd;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: var(--main-transition);
}
.links ul li.active,
.links ul li:hover {
    color: #0d6efd !important;
}
.links ul li.active::after,
.links ul li:hover::after {
    width: 100%;
}
/* End Links */
/* Start Dashboard Info */
.dashboard-info p {
    font-size: 14px;
}
.dashboard-info .one .col .row {
    margin-bottom: 10px; 
}
.dashboard-info .row {
    width: 100%;
    margin-right: 0 !important;
}
.dashboard-info .row div {
    min-height: 40px;
}
.dashboard-info .one .col .row p:last-child {
    font-weight: bold;
}
/* End Dashboard Info */
/* Responsive Divase */
@media (max-width: 991px) {
    aside .top .menuIcon {
        top: 12px;
    }
    .header {
        margin-right: 0;
        min-height: 50px;
    }
    .header ul li p,
    .header ul li i {
        font-size: 12px;
    }
    .content-of-page {
        margin-right: 0;
    }
    .user-info {
        flex-direction: column;
        align-items: start !important;
    }
    .user-info img {
        margin-left: 0;
    }
    .user-info .name {
        /* text-align: center; */
        margin-top: 20px;
    }
    .user-info .text,
    .user-info .text .row {
        margin: 0;
        padding: 0 !important;
        flex-direction: column;
    }
    .user-info .text .row .col {
        padding: 0 !important;
    }
    .user-info .text .row .col .row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }
    .links ul li {
        font-size: 10px;
    }
    .dashboard-info .row {
        flex-direction: column;
        width: 100%;
    }
    .dashboard-info .row div {
        width: 100%;
        min-height: 100%;
    }
    .dashboard-info .row div .row .col .row {
        flex-direction: row;
    }
}
