* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    user-select: none;
}
:root {
    --main-transition: all 500ms ease;
}
body {
    position: relative;
}
p {
    margin: 0;
}
ul {
    list-style: none;
}
/* Start Sidebar */
aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 270px;
    height: 100vh;
    transition: var(--main-transition);
}
aside.open {
    width: 0;
    padding: 0 !important;
}
aside .top .menuIcon {
    font-size: 28px;
    position: absolute;
    top: 18px;
    left: 10px;
    cursor: pointer;
    z-index: 100;
    transition: var(--main-transition);
}
aside .top .menuIcon.open {
    left: -40px;
    color: #333 !important;
}
aside .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
aside .top .logo i {
    font-size: 22px;
    margin-top: 10px;
}
aside ul li {
    cursor: pointer;
    transition: var(--main-transition);
}
aside ul li span:first-child {
    margin-left: 10px;
}
aside ul li:hover {
    padding-right: 10px;
    background-color: #0d6efd;
}
aside.open .logo i,
aside.open .logo,
aside.open ul {
    display: none;
}
/* End Sidebar */
/* Start Header */
.header {
    margin-right: 270px;
    min-height: 65px;
    z-index: -1;
    transition: var(--main-transition);
}
.header .first {
    transition: var(--main-transition);
}
.header.open {
    margin-right: 0;
}
.header.open .first {
    margin-right: 35px;
}
.header ul li {
    cursor: pointer;
}
.header ul li i {
    font-size: 22px;
}
.logo-compny {
    font-weight: bold;
    font-size: 22px;
}
.logo-compny span {
    text-decoration: underline;
}
/* End Header */
/* Start User Info */
.content-of-page {
    margin-right: 270px;
    margin-top: 80px;
    transition: var(--main-transition);
} 
.content-of-page.open {
    margin-right: 0;
}
.user-info {
    width: 100%;
}
.user-info.open {
    margin-right: 0;
}
.user-info img {
    width: 100px;
    margin-left: 20px;
}
.user-info .name {
    font-size: 18px;
    font-weight: bold;
}
.user-info .text,
.user-info .text .row {
    width: 100%;
}
.user-info .text .col .row .col:last-child {
    font-weight: bold;
    padding: 0 !important;
}
/* End User Info */

/* Responsive Divase */
@media (max-width: 991px) {
    aside .top .menuIcon {
        top: 12px;
    }
    .header {
        margin-right: 0;
        min-height: 50px;
    }
    .header ul li p,
    .header ul li i {
        font-size: 12px;
    }
    .content-of-page {
        margin-right: 0;
    }
    .user-info {
        flex-direction: column;
    }
    .user-info img {
        margin-left: 0;
    }
    .user-info .name {
        text-align: center;
        margin-top: 20px;
    }
    .user-info .text,
    .user-info .text .row {
        margin: 0;
        flex-direction: column;
    }
    .user-info .text .row .col .row {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
    }
}
